@import url("https://fonts.googleapis.com/css?family=Epilogue:regular,700,800,900&display=swap");

@import url("reset.css");

body {
    font-family: Epilogue;
    background-color: #28293E;
}

.wrapper {
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
    position: relative;
}

.wrapper>main {
    flex-grow: 1;
}

[class*="__container"] {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {}

.header__position {
    position: sticky;
    top: 0;
    z-index: 10;
}

.header__container {}

.header__body {
    min-height: 88px;
    padding-block: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 15px;
    background-color: #28293E;
    position: relative;
    z-index: 2;
}

.header__logo {}

.logo {
    flex-basis: 12.67%;
    display: flex;
    align-items: center;
    gap: 14px;
    position: relative;
    z-index: 5;
}

.logo__img {}

.logo__img img {
    max-width: 100%;
}

.logo__title {
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    /* 133.333% */
}

.header__menu {
    flex: 0 1 49.2%;
}

.menu {}

.menu__body {}

.menu__list {
    display: flex;
    justify-content: space-between;
    gap: 5px 15px;
    flex-wrap: wrap;
}

.menu__item {}

.menu__link {
    color: #FFF;
    text-align: center;
    line-height: 32px;
    /* 200% */
    text-transform: capitalize;
    transition: color 0.3s;
}

@media(any-hover: hover) {
    .menu__link:hover {
        color: #7f7e7e;
    }
}

.header__action {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    z-index: 5;
}

.header__button {
    color: #FFF;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    padding: 18px 35px 16px;
    transition: color 0.3s, background-color 0.3s;
}

@media(any-hover: hover) {
    .header__button:hover {
        color: #28293E;
        background-color: #7f7e7e;
    }
}

.header__burger {}

.burger-menu {
    display: none;
}

@media(min-width:800px) {
    .header__action {
        flex-basis: 11.5%;
    }
}

@media(max-width:800px) {
    .header__body {
        min-height: 70px;
        padding-block: 11px;
    }

    .header__button {
        padding: 12px 10px 8px;
    }
}

@media(max-width:550px) {
    .header__action {
        flex: 1 0 138px;
    }

    .burger-menu {
        display: flex;
        flex-direction: column;
        flex-basis: 30px;
        flex-shrink: 0;
    }

    .burger-menu span {
        margin-block: 6px;
    }

    .header__burger span,
    .header__burger::before,
    .header__burger::after {
        content: "";
        width: 100%;
        height: 2px;
        background-color: #FFF;
        transition: all 0.3s;
    }

    .open-menu .burger-menu {
        justify-content: center;

    }

    .open-menu .burger-menu span {
        width: 0;
        height: 0;
        margin-block: 0;
    }

    .open-menu .header__burger::before {
        transform: rotate(-45deg) translateY(1.5px);
    }

    .open-menu .header__burger::after {
        transform: rotate(45deg) translateY(-1.5px);
    }

    .menu__body {
        position: fixed;
        inset-inline-start: 100%;
        inset-block-start: 0;
        inline-size: 100%;
        block-size: 100%;
        z-index: 2;
        background-color: #0f0f0f;
        padding: 80px 15px 30px;
        overflow: auto;
        transition: inset-inline-start 0.3s;
    }

    .menu__body:before {
        content: "";
        position: fixed;
        inline-size: 100%;
        block-size: 70px;
        inset-inline-start: 100%;
        inset-block-start: 0;
        z-index: 3;
        background-color: #0f0f0f;
        transition: inset-inline-start 0.3s;
    }

    .open-menu .menu__body {
        inset-inline-start: 0;
    }

    .open-menu .menu__body::before {
        inset-inline-start: 0;
    }

    .menu__list {
        flex-direction: column;
        align-items: flex-end;
        gap: 25px;
    }

    .menu__link {
        text-transform: uppercase;
    }

    .menu__link:active {
        text-decoration: underline;
    }
}

@media(max-width:350px) {
    .header__body {
        gap: 8px;
    }

    .logo {
        gap: 8px;
    }

    .header__action {
        gap: 13px;
    }

    .header__action {
        flex: 1 0 131px;
    }

    .logo__title {
        font-size: 20px;
    }
}

.page {}

.modern-studio-block {
    padding-block: 94px 56px;
}

.modern-studio-block__container {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.modern-studio-block__content {
    padding-block-start: 10px;
    flex: 1 1 513px;
}

.content {}

.content>*:not(:last-child) {
    margin-block-end: 24px;
}

.content__subtitle {
    color: #EF6D58;
    line-height: 200%;
    /* 32/16 */
    letter-spacing: 3px;
    text-transform: uppercase;
    display: inline-block;
}

.content__title {
    max-width: 513px;
    color: #FFF;
    font-size: 72px;
    font-weight: 800;
    line-height: 111%;
    /* 80/72 */
    letter-spacing: -2px;
    position: relative;
    text-transform: capitalize;
}

.content__title span {
    display: block;
}

.content__title::before {
    content: "";
    background: url("../img/icons/star.svg") center / contain no-repeat;
    position: absolute;
    width: 28.85%;
    height: 61.667%;
    left: 54.191%;
    top: -14.167%;
    z-index: -1;
}

.content__text {
    max-width: 470px;
    color: rgba(255, 255, 255, 0.64);
    line-height: 200%;
    /* 32/16 */
}

.content__text:not(:last-child) {
    margin-block-end: 34px;
}

.content__action {
    display: flex;
    gap: 15px 46px;
    flex-wrap: wrap;
    align-items: center;
}


.content__action:not(:last-child) {
    margin-block-end: 108px;
}

.content__link-red {
    border-radius: 6px;
    background: #EF6D58;
    padding: 18px 24px 16px;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    transition: background-color 0.3s;
}

.content__link-contact {
    display: inline-block;
    color: #FFF;
    line-height: 200%;
    /* 32/16 */
    text-transform: capitalize;
    transition: color 0.3s;
}

@media(any-hover: hover) {
    .content__link-contact:hover {
        color: #7f7e7e;
    }

    .content__link-red:hover {
        background-color: #dd2e13;
    }
}

.content__info {}

.info {
    display: flex;
    gap: 16px;
    align-items: center;
}

.info__image-box {
    width: 48px;
    height: 48px;
    background-color: #B550F6;
    border-radius: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex: 0 0 48px;
}

.info__img {}

.info__img img {
    width: 100%;

}

.info__body {}

.info__title {
    color: rgba(255, 255, 255, 0.64);
    line-height: 200%;
    /* 32/16 */
}

.info__corp {
    color: #FFF;
    line-height: 200%;
    /* 32/16 */
}

.modern-studio-block__decor {
    height: 100%;
    position: relative;
    z-index: 1;
    aspect-ratio: 1 / 1.137;
    flex: 0 1 570px;
}

.modern-studio-block__decor::before {
    content: "";
    width: 64.912%;
    height: 57.099%;
    border-radius: 50%;
    background-color: #32334C;
    position: absolute;
    top: 15.123%;
    left: 17.368%;
}

.modern-studio-block__violet {
    width: 43.15%;
    height: 47.068%;
    background: url("../img/violet-background.webp") center / 100% no-repeat;
    border-radius: 0 0 8px 8px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    aspect-ratio: 1 / 1.24;
    display: flex;
    align-items: flex-end;
}

.modern-studio-block__violet img {
    width: 103.658%;
    transform: translate(8.536%, -5.246%);
    border-radius: 0 0 8px 8px;
}

.modern-studio-block__yellow {
    width: 43.15%;
    height: 47.068%;
    background: url("../img/yellow-background.webp") center / 100% no-repeat;
    border-radius: 0 0 8px 8px;
    position: absolute;
    bottom: 23.3%;
    left: 56.667%;
    z-index: 2;
    aspect-ratio: 1 / 1.24;
    display: flex;
    align-items: flex-end;
}

.modern-studio-block__yellow img {
    width: 100%;
    border-radius: 0 0 8px 8px;
}

.modern-studio-block__card {
    width: 37.54%;
    height: 17.284%;
    border-radius: 6px;
    position: absolute;
    bottom: 15.895%;
    left: 9.69%;
    aspect-ratio: 1 / 0.523;
}

.modern-studio-block__card img {
    width: 100%;
    border-radius: 6px;
}

.modern-studio-block__stars {
    position: absolute;
    left: 53.333%;
    top: 6.173%;
    width: 19.649%;
    height: 17.284%;
    background-color: #EF6D58;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modern-studio-block__stars img {
    width: 37.5%;
}

.modern-studio-block__arrow-big {
    position: absolute;
    width: 24.912%;
    height: 11.265%;
    left: 0;
    top: 52.623%;
}

.modern-studio-block__arrow-small {
    position: absolute;
    width: 8.772%;
    height: 12.654%;
    right: 32.48%;
    top: 79.392%;
    transform: rotate(-46deg);
}

.modern-studio-block__cloud {
    position: absolute;
    width: 19.649%;
    height: 12.654%;
    right: 0;
    top: 12.346%;
}

@media(max-width: 1130px) {
    .content__title {
        font-size: 60px;
    }

    .content__action:not(:last-child) {
        margin-block-end: 40px;
    }
}

@media(max-width: 1000px) {
    .modern-studio-block {
        padding-block: 30px;
    }
}

@media(max-width: 950px) and (min-width: 790px), (max-width: 480px) {
    .content__title {
        font-size: 40px;
    }
}

@media(max-width: 880px) and (min-width: 790px) {
    .content__title {
        font-size: 30px;
    }

    .info__title {
        font-size: 14px;
        line-height: 142.8571%;
        /* 20/14 */
    }

    .info__corp {
        font-size: 14px;
        line-height: 142.8571%;
        /* 20/14 */
    }
}

@media(max-width: 880px) {
    .content__text:not(:last-child) {
        margin-block-end: 20px;
    }

    .content__action:not(:last-child) {
        margin-block-end: 30px;
    }
}

@media(max-width: 790px) {
    .modern-studio-block {
        padding-bottom: 0;
    }

    .modern-studio-block__container {
        flex-wrap: wrap;
        justify-content: center;
    }

    .modern-studio-block__content {
        flex-basis: 100%;
    }

    .modern-studio-block__decor {
        flex-basis: 100%;
    }

    .modern-studio-block__content:not(:last-child) {
        padding-bottom: 40px;
    }

    .content__title {
        max-width: 100%;
    }

    .content__title span {
        display: inline;
    }
}

@media(max-width: 480px) {
    .info__title {
        font-size: 14px;
        line-height: 142.8571%;
        /* 20/14 */
    }

    .info__corp {
        font-size: 14px;
        line-height: 142.8571%;
        /* 20/14 */
    }

    .modern-studio-block {
        padding-bottom: 0;
    }

    .content__action {
        column-gap: 20px;
    }

    .content__link-red {
        padding: 14px 15px 12px;
    }
}

.footer {}

.footer__container {}

.footer__title {
    padding: 20px 0;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
}