@import url("https://fonts.googleapis.com/css?family=PT+Serif:regular,italic,700&display=swap");

@import url("https://fonts.googleapis.com/css?family=Manrope:regular,600,700&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@400;500&display=swap');

@import url("fonts.css");

@import url("reset.css");

body {
    font-family: "PT sans", sans-serif;
    color: rgb(27, 19, 78);
    font-weight: 400;
    padding: 0 10px;
}


.header {
    margin-bottom: 20px;
}

.header-title-container {
    padding: 20px 0 20px;
    font-family: ICTV, sans-serif;
    font-weight: 700;
}

.header-title {
    max-width: 800px;
    text-align: center;
    font-size: 30px;
    margin: 0 auto;
}

.header-none {
    display: none;
}

.header-text-container {}

.header-text {
    margin-bottom: 10px;
}

.header-nav-container {}

.header-list {}

.header-item {
    margin-bottom: 5px;
}

.header-link {
    text-decoration: underline;
    color: blue;
    font-style: italic;
}

.main {}

.main-container {
    margin: 0 0 20px 0;
}

.main-title {
    text-align: center;
    font-family: ICTV, sans-serif;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 20px;
}

.main-image-container {
    margin-bottom: 20px;
}

.main-image-container img {
    display: block;
    margin: 0 auto;
    max-width: 800px;
}

.main-text-scroll {
    max-height: 90px;
    overflow: auto;
}

.main-visible {
    max-height: 120px;
    overflow: hidden;
}

.main-text {
    margin-bottom: 10px;
}

.main-conclusion {
    margin-bottom: 50px;
    font-weight: 700;
}


.container-black {
    font-family: Manrope, sans-serif;
    background-color: #794f45;
    /* background-color застосував бо не видно білого тексту(розумію що ще не вчили) */
    margin-bottom: 50px;
}


.container-black-title-block {
    padding-right: 150px;
    margin-bottom: 60px;
}

.container-black-title {
    color: #fff;
    max-width: 1129px;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.5;
    /* 42/28 */
    margin-bottom: 10px;
    min-height: 42px;
}

.container-black-text {
    color: #999;
    max-width: 1129px;
    min-height: 48px;
    line-height: 1.5;
    /* 24/16 */
}

.container-black-cards {
    margin: 0 -10px;
    font-size: 0;
}

.container-black-card {
    display: inline-block;
    width: 33.333%;
    padding: 0 10px;
}

.container-black-cards-body {
    padding: 40px;
}

.container-black-cards-body-img {
    vertical-align: middle;
}

.container-black-cards-body-title {
    display: inline-block;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
    margin-left: 12px;
    /* 30/20 */
    vertical-align: middle;
}

.container-black-cards-body-text {
    color: #999;
    line-height: 1.5;
    /* 24/16 */
    margin-top: 24px;
    font-size: 16px;
}

.container-product {
    font-family: Roboto, sans-serif;
    max-width: 539px;
    margin-bottom: 50px;
}

.container-product-title {
    color: #091133;
    font-size: 50px;
    font-weight: 500;
    line-height: 1.32;
    /* 66/50 */
    letter-spacing: 1px;
    margin: 0 0 20px 0;
}

.container-product-text {
    color: #505F98;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.67;
    /* 30/18 */
    margin-bottom: 74px;
}

.container-product-links {}

.container-product-link-blue {
    color: #FFF;
    font-weight: 500;
    line-height: 1.63;
    /* 26/16 */
    background-color: #111B47;
    min-width: 189px;
    text-align: center;
    padding: 5px 0;
}

.container-product-link {
    color: #091133;
    text-align: center;
    font-weight: 500;
    line-height: 1.63;
    /* 26/16 */
    margin-left: 30px;
    min-width: 189px;
    text-align: center;
    padding: 5px 0;
}

.design-and-build-container {
    font-family: Roboto, sans-serif;
    margin-bottom: 50px;
    max-width: 520px;
}

.design-and-build-container-title {
    color: #091133;
    font-size: 36px;
    font-weight: 500;
    line-height: 1.33;
    /* 48/36 */
    margin-bottom: 16px;
}

.design-and-build-container-text {
    color: #6F7CB2;
    font-weight: 400;
    line-height: 1.63;
    /* 26/16 */
    margin-bottom: 71px;
}

.design-and-build-container-boxes {
    margin: 0 -15px;
    font-size: 0;
}

.design-and-build-container-box {
    display: inline-block;
    width: 50%;
    padding: 0 15px;
}

.design-and-build-container-box-icon {
    margin-bottom: 14px;
}

.design-and-build-container-box-title {
    color: #091133;
    font-weight: 500;
    line-height: 1.63;
    /* 26/16 */
    margin-bottom: 6px;
}

.design-and-build-container-box-text {
    color: #5D6970;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    /* 18/12 */
    margin-bottom: 32px;
}

.footer {}

.footer-container {
    margin-bottom: 10px;
}

.footer-list {}

.footer-item {
    font-weight: 700;
}

.footer-item-link {
    color: blue;
    text-decoration: underline;
    font-style: italic;
    display: block;
    margin-block: 5px;
}