@import url("https://fonts.googleapis.com/css?family=Manrope:regular,600,700&display=swap");

@import url("https://fonts.googleapis.com/css?family=Epilogue:regular,800&display=swap");

@import url("reset.css");

body {
    font-family: "Epilogue", sans-serif;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

.container {
    margin: 0 auto;
    max-width: 1950px;
    padding-inline: 15px;
}

.header {
    margin-bottom: 20px;
}

.header-title {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    padding: 25px 0 10px;
    color: rgb(27, 19, 78);
}

.dark-block {
    background-color: #141414;
    margin-bottom: 50px;
}

.dark-block-header {
    background: url("../img/icons/vector.png") center no-repeat,
        linear-gradient(180deg, #141414 0%, rgba(20, 20, 20, 0.00) 100%),
        linear-gradient(180deg, rgba(20, 20, 20, 0.00) 0%, #141414 100%),
        url("../img/sub-container.png") center / cover no-repeat,
        url("../img/bacground-image.png") center / cover no-repeat;
}

.dark-block-header-body {
    height: 860px;
}

.dark-block-main {
    text-align: center;
    font-family: Manrope;
    min-height: 300px;
    max-width: 1096px;
    margin: -65px auto 0 auto;
}

.dark-block-main-title {
    text-transform: capitalize;
    color: #FFF;
    font-size: 58px;
    font-weight: 700;
    line-height: 1.5;
    /* 87/58 */
    margin-bottom: 14px;
}

.dark-block-main-text {
    color: #999;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    /* 27/18 */
    margin-bottom: 50px;
}

.dark-block-main-link-block {
    text-transform: capitalize;
    width: 251px;
    padding: 18px 20px;
    background-color: #E50000;
    margin: 0 auto;
    border-radius: 8px;
}

.dark-block-main-link-block-img {
    max-width: 28px;
    min-height: 28px;
}

.dark-block-main-link-block-link {
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    /* 27/18 */
    margin-left: 4px;
}

.container-small {
    max-width: 1200px;
    margin: 0 auto;
    padding-inline: 15px;
}

.give-your-site-block {
    background-color: #FDF0E9;
    margin-bottom: 50px;
}

.give-your-site-content {
    font-size: 0;
    margin: 0 -15px;
}

.give-your-site-body {
    font-family: Epilogue;
    display: inline-block;
    width: 50%;
    padding: 0 15px;
    vertical-align: middle;
}

.give-your-site-subtitle {
    color: #EF6D58;
    font-weight: 400;
    font-size: 16px;
    line-height: 2;
    /* 32/16 */
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.give-your-site-title {
    color: #391400;
    font-size: 56px;
    font-weight: 800;
    line-height: 1.14;
    /* 64/56 */
    letter-spacing: -1px;
    text-transform: capitalize;
    max-width: 397px;
    margin-bottom: 26px;
}

.give-your-site-text {
    color: #391400;
    font-size: 20px;
    line-height: 1.6;
    /* 32/20 */
    max-width: 470px;
    margin-bottom: 26px;
}

.give-your-site-list {}

.give-your-site-item {
    background: url("../img/check.svg") 0 1.5px no-repeat;
    color: rgba(57, 20, 0, 0.64);
    font-weight: 400;
    line-height: 2;
    font-size: 16px;
    /* 32/16 */
    margin-bottom: 16px;
    padding-left: 45px;
    min-height: 35px;
}

.give-your-site-img {
    display: inline-block;
    width: 50%;
    padding: 0 15px;
    vertical-align: middle;
    text-align: right;
}

.training-block {
    margin-bottom: 50px;
}

.training-block-content {
    margin: 0 -15px 30px -15px;
    font-size: 0;
}

.training-block-body {
    height: 300px;
    display: inline-block;
    width: 25%;
    padding: 15px 15px;
    vertical-align: top;
}

.training-block-item {
    width: 100%;
    height: 270px;
    text-align: center;
}

.training-block-title {
    font-size: 45px;
    color: rgb(27, 19, 78);
    text-shadow: 2px 2px 5px #000;
    line-height: 6;
    /* 270/45 */
}

.item-1 {
    border: 5px solid blue;
    border-radius: 10px;
    box-shadow: 5px 5px 10px blue;
}

.item-2 {
    border-right: 5px dashed red;
    border-top: 10px dotted green;
    border-left: 8px solid yellow;
    border-bottom: 10px double gray;
}

.item-3 {
    border: 5px solid #e63d23;
    border-radius: 53% 47% 72% 28% / 45% 24% 76% 55%;
    box-shadow: 10px 10px 10px #000, inset 8px 7px 6px #EF6D58;
}

.item-4 {
    outline: 10px solid #1a5d04;
    border: 10px solid #71033e;
    border-radius: 20px;
    box-shadow: inset 5px 5px 8px #000;
}

.item-5 {
    background-color: #06f3c4;
    border: 5px solid #211e86;
    border-radius: 30px;
    opacity: 0.7;
}

.item-6 {
    border-radius: 20px;
    background: radial-gradient(circle, rgba(8, 249, 247, 1) 26%, rgba(9, 121, 50, 1) 61%, rgba(0, 11, 13, 1) 94%);
}

.item-7 {
    visibility: hidden;
    border: 10px solid black;
    border-radius: 30px;
    background-color: #b70845;
}

.item-8 {
    border-style: double;
    border-color: brown;
    border-width: 15px;
    border-radius: 25px;
    background-color: #f838f4ed;
}

.item-9 {
    background: url("../img/wolf.jpeg") center / cover no-repeat;
    border-radius: 20px;
}

.item-9 h3,
.item-10 h3,
.item-11 h3,
.item-12 h3 {
    color: #fff;
}

.item-10 {
    background: url("../img/wolf.jpeg") center / contain no-repeat,
        #000 url("#") 0 0 no-repeat;
    border-radius: 20px;
}


.item-11 {
    background-image: url("../img/danger.jpg");
    background-color: #000;
    background-position: center;
    background-size: auto 270px;
    background-repeat: no-repeat;
    border-radius: 20px;
}

.item-12 {
    background-image: url("../img/danger.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 30px;
}

.training-block-content-2 {}

.training-block-content-2-body {
    min-width: 100%;
    height: 300px;
    text-align: center;
    border: 5px solid #000;
    border-radius: 40px;
    background: url("../img/planet.jpg") 30px 30px / 150px no-repeat,
        url("../img/lines.jpg") right 30px bottom 30px / 100px no-repeat,
        linear-gradient(90deg, rgba(224, 228, 67, 1) 26%, rgba(29, 38, 208, 1) 61%, rgba(209, 26, 158, 1) 94%);
    margin-bottom: 30px;
}

.training-block-title-2 {
    font-size: 52px;
    line-height: 5.77;
    /* 300/52 */
}

.car-block {
    background: url("../img/car.jpg") center / cover no-repeat fixed;
    margin-bottom: 50px;
}

.car-block-content {
    min-height: 1200px;
    font-size: 0;
}

.car-block-content-text {
    font-size: 24px;
    color: #fff;
    margin-bottom: 50px;
}

.block-left {
    display: inline-block;
    width: 50%;
    padding: 30px 35% 30px 0;
}

.block-right {
    display: inline-block;
    width: 50%;
    text-align: right;
    padding: 30px 0 30px 35%;
}

.car-block-text {
    color: grey;
    font-size: 16px;
    line-height: 1.88;
    /* 30/16 */
    margin-bottom: 30px;
}

.footer {}

.footer-text {
    text-align: center;
    font-size: 20px;
    color: #999;
    padding: 10px;
}